<%= form_for @person_skill, :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Skill", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :skill_id, Skill.all, :id, :skill_description, { :include_blank => "Select Skill" }, { :class => 'form-control' } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Years Experience", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :years_experience, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Note", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_area :note, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-1 col-lg-2">
			<%= button_tag(:class => 'btn btn-success') do %>
				<span class="fa fa-save fa-fw"></span> Save
			<% end %>
		</div>
	</div>
<% end %>