<%= form_for [@person, @dependent], :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :name, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Relationship", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :relationship, Relationship.all, :description, :description,  {:include_blank => 'Select Relationship'}, { :class => 'form-control'} %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Date of Birth", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.date_field :date_of_birth, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<%= button_tag(:class => 'btn btn-success') do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>
	</div>
<% end %>