<%= form_for [@person, @termination], :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Termination Reason", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :termination_reason_id, TerminationReason.all, :id, :description, { :include_blank => "Select Termination Reason" }, { :class => 'form-control' } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Termination Date", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.date_field :termination_date, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Note", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_area :note, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-1 col-lg-2">
			<%= button_tag(:class => 'btn btn-success') do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>
	</div>
<% end %>