<%= form_for @person, :url => { :action => 'update_job_details'}, :html => { :class => 'form-horizontal'} do |f| %>
	<%= f.fields_for :job_detail do |fjd| %>
		<div class="form-group">
			<%= fjd.label "Job Title", :class => 'col-lg-2 control-label' %>
			<div class="col-lg-3">
				<%= fjd.collection_select :job_title_id, JobTitle.all, :id, :job_title, { :include_blank => "Select Job Title" }, { :class => 'form-control' } %>
			</div>
			<%= fjd.label "Start Date", :class => 'col-lg-3 control-label' %>
			<div class="col-lg-3">
				<%= fjd.date_field :start_date, :class => 'form-control' %>
			</div>
		</div>
		<div class="form-group">
			<%= fjd.label "Department", :class => 'col-lg-2 control-label' %>
			<div class="col-lg-3">
				<%= fjd.collection_select :department_id, Department.all, :id, :name, { :include_blank => "Select Department" }, { :class => 'form-control' } %>
			</div>
			<%= fjd.label "Location", :class => 'col-lg-3 control-label' %>
			<div class="col-lg-3">
				<%= fjd.collection_select :location_id, Location.all, :id, :name, { :include_blank => "Select Location" }, { :class => 'form-control' } %>
			</div>
		</div>

		<div class="form-group">
			<hr>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-2">
				<%= f.submit :class => 'btn btn-success' do %>
					<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>