<%= form_for @person, :html => { :class => 'form-horizontal'}  do |f| %>
	<div class="row">
		<p class="col-lg-2 text-muted small hidden-sm hidden-xs"> </p>
		<p class="col-lg-2 text-muted small hidden-sm hidden-xs"><strong>First Name<span class="text-danger">*</span></strong></p>
		<p class="col-lg-2 text-muted small hidden-sm hidden-xs"><strong>Middle Name</strong></p>
		<p class="col-lg-2 text-muted small hidden-sm hidden-xs"><strong>Last Name<span class="text-danger">*</span></strong></p>
	</div>
	<div class="form-group">
		<%= f.label "Full Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.text_field :first_name, :class => 'form-control'%>
		</div>
		<div class="col-lg-2">
			<%= f.text_field :middle_name, :class => 'form-control' %>
		</div>
		<div class="col-lg-2">
			<%= f.text_field :last_name, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Employee ID", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.text_field :employee_id, :class => 'form-control', :value => @id, :readonly => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Photograph", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.file_field :employee_id, :class => 'form-control' %>
		</div>
	</div>



	<div class="form-group">
		<hr>
	</div>

	<div class="form-group">
		<%= f.label "Provide User Details?", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<div class="checkbox">
				<label>
					<%= check_box_tag "provide_user_details" %>
				</label>
			</div>
		</div>
	</div>

	<%= f.fields_for :user do |fu| %>
		<span id="user_fields" style="display:none;">
			<div class="form-group">
				<%= fu.label "Username", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.text_field :username, :class => 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= fu.label "Password", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.password_field :password, :class => 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= fu.label "Password Confirmation", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.password_field :password_confirmation, :class => 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= fu.label "Role", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.select :role, options_for_select([["Manager","manager"],["Employee","employee"],["Administrator","admin"]]), {:prompt => 'Select'}, { :class => 'form-control'} %>
				</div>
			</div>
		</span>
	<% end %>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-1">
			<%= f.submit "Create Person", :class => 'btn btn-success' %>
		</div>
	</div>
<% end %>