<%= form_for @person, :html => { :multipart => true, :class => 'form-horizontal'}  do |f| %>
	<div class="form-group">
		<%= f.label "First Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :first_name, :class => 'form-control' %>
		</div>
		<%= f.label "Middle Name", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :middle_name, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Last Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :last_name, :class => 'form-control' %>
		</div>
		<%= f.label "Suffix", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.select :name_suffix, options_for_select(["Jr.", "Sr.", "III", "IV"], :selected => f.object.name_suffix ), {:prompt => 'Select'}, { :class => 'form-control'} %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Preferred Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :preferred_first, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Employee ID", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.text_field :employee_id, :class => 'form-control', :value => @id, :readonly => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Photograph", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.file_field :photo, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group"></div>
	<div class="form-group"></div>

	<div class="form-group">
		<%= f.label "Provide User Details?", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<div class="checkbox">
				<label data-toggle="collapse" data-target="#provide-user-details">
					<%= check_box_tag "provide_user_details" %>
				</label>
			</div>
		</div>
	</div>

	<div class="collapse" id="provide-user-details">
		<%= f.fields_for :user do |fu| %>
			<div class="form-group">
				<%= fu.label "Username", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.text_field :username, :class => 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= fu.label "Password", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.password_field :password, :class => 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= fu.label "Password Confirmation", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.password_field :password_confirmation, :class => 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= fu.label "Role", :class => 'col-lg-2 control-label' %>
				<div class="col-lg-2">
					<%= fu.select :role, options_for_select([["Manager","manager"],["Employee","employee"],["Administrator","admin"]]), {:prompt => 'Select'}, { :class => 'form-control'} %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<%= button_tag(:type => "submit", :class => "btn btn-success") do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>
	</div>
<% end %>