<%= form_for @person, :html => { :class => 'form-horizontal'} do |f| %>
	<div class="form-group">
		<%= f.label "Address Line 1", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :address_line1, :class => 'form-control', :disabled => true %>
		</div>
		<%= f.label "Address Line 2", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :address_line2, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "City", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :city, :class => 'form-control', :disabled => true %>
		</div>
		<%= f.label "State/Province", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :province, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Postal Code", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :postal, :class => 'form-control', :disabled => true %>
		</div>
		<%= f.label "Country", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :country, :class => 'form-control', :disabled => true %>
		</div>
	</div>

	<div class="form-group">
		<hr>
	</div>

	<div class="form-group">
		<%= f.label "Home Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :home_phone, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Mobile Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :mobile_phone, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Business Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :business_phone, :class => 'form-control', :disabled => true %>
		</div>
	</div>

	<div class="form-group">
		<hr>
	</div>


	<div class="form-group">
		<%= f.label "Home Email", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.email_field :home_email, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Business Email", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.email_field :business_email, :class => 'form-control', :disabled => true %>
		</div>
	</div>


	<div class="form-group">
		<hr>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-1">
			<%= link_to edit_contact_details_path(@person), :class => 'btn btn-success'  do %>
				<span class="fa fa-pencil"></span> Edit Contact Details
			<% end %>
		</div>
	</div>
<% end %>