<%= form_for @person, :html => { :class => 'form-horizontal'} do |f| %>
	<%= f.fields_for :job_detail do |fjd| %>
		<div class="form-group">
			<%= fjd.label "Job Title", :class => 'col-lg-2 control-label' %>
			<div class="col-lg-3">
				<%= fjd.collection_select :job_title_id, JobTitle.all, :id, :job_title, { :include_blank => "Select Job Title" }, { :class => 'form-control', :disabled => true } %>
			</div>
			<%= fjd.label "Start Date", :class => 'col-lg-3 control-label' %>
			<div class="col-lg-3">
				<%= fjd.date_field :start_date, :class => 'form-control', :disabled => true %>
			</div>
		</div>
		<div class="form-group">
			<%= fjd.label "Department", :class => 'col-lg-2 control-label' %>
			<div class="col-lg-3">
				<%= fjd.collection_select :department_id, Department.all, :id, :name, { :include_blank => "Select Department" }, { :class => 'form-control', :disabled => true } %>
			</div>
			<%= fjd.label "Location", :class => 'col-lg-3 control-label' %>
			<div class="col-lg-3">
				<%= fjd.collection_select :location_id, Location.all, :id, :name, { :include_blank => "Select Location" }, { :class => 'form-control', :disabled => true } %>
			</div>
		</div>

		<div class="form-group">
			<hr>
		</div>

		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-1">
				<%= link_to edit_job_details_path(@person), :class => 'btn btn-success'  do %>
					<i class="fa fa-pencil"></i> <%= t('button.edit') %>
				<% end %>
			</div>
			<div class="col-lg-4">
				<% if @person.active? %>
					<%= link_to new_person_termination_path(:person_id => @person.id), :class => 'btn btn-danger disabled' do %>
						<i class="fa fa-times-circle"></i> Terminate Employee
					<% end %>
				<% else %>
					<%= link_to person_termination_path(PersonTermination.find_by_person_id(@person.id)), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-danger disabled' do %>
						<i class="fa fa-refresh"></i> Re-activate Employee
					<% end %>
					<%= link_to person_termination_path(PersonTermination.find_by_person_id(@person.id)) do %>
						Termination Date: <%= PersonTermination.find_by_person_id(@person.id).termination_date %>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>