<%= form_for @person_education, :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Education Level", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :education_level_id, EducationLevel.all, :id, :education_level_description, { :include_blank => "Select Education Level" }, { :class => 'form-control' } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Institute", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :institute, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Start Date", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.date_field :start_date, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Completed Date", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.date_field :completed_date, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-1 col-lg-2">
			<%= button_tag(:class => 'btn btn-success') do %>
				<span class="fa fa-save fa-fw"></span> Save
			<% end %>
		</div>
	</div>
<% end %>