<%= form_for [@person, @job_detail], :html => { :class => 'form-horizontal'} do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Job Title", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :job_title_id, JobTitle.all, :id, :job_title, { :include_blank => "Select Job Title" }, { :class => 'form-control' } %>
		</div>
		<%= f.label "Start Date", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.date_field :start_date, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Department", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :department_id, Department.all, :id, :name, { :include_blank => "Select Department" }, { :class => 'form-control' } %>
		</div>
		<%= f.label :location_id, :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :location_id, Location.all, :id, :name, { :include_blank => "Select Location" }, { :class => 'form-control' } %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<%= render 'job_detail_history' %>

			<% if @person.active? %>
				<%= link_to new_person_termination_path(@person), :class => 'btn btn-danger' do %>
					<i class="fa fa-times-circle"></i> <%= t('button.terminate_employee') %>
				<% end %>
			<% else %>
				<%= link_to person_termination_path(@person, @person.id), method: :delete, data: { confirm: "Re-activate this employee?" }, :class => 'btn btn-danger' do %>
					<i class="fa fa-refresh"></i> <%= t('button.reactivate_employee') %>
				<% end %>
				<%= link_to person_termination_path(@person, @person.id), :class =>  'btn btn-link' do %>
					Termination Date: <%= Termination.find_by_person_id(@person.id).termination_date %>
				<% end %>
			<% end %>
		</div>
	</div>

	
	<div class="form-group">
		<div class="form-footer">
			<div class="form-footer-container">
				<div class="col-lg-12">
					<%= button_tag(:type => "submit", :class => "btn btn-success") do %>
						<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
					<% end %>
					<%= link_to person_job_detail_path(@person, @person.id), :class => 'btn btn-danger'  do %>
						<span class="fa fa-ban fa-fw"></span> <%= t('button.cancel') %>
					<% end %>
				</div>
			</div>
		</div>
	</div>	
<% end %>