<%= form_for [@person, @contact_detail], :html => { :class => 'form-horizontal'} do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Country", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :country, Country.all, :country_code, :description, {:include_blank => 'Select Country'}, { :class => 'form-control'} %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Address Line 1", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :address_line1, :class => 'form-control' %>
		</div>
		<%= f.label "Address Line 2", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :address_line2, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "City", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :city, :class => 'form-control' %>
		</div>
		<%= f.label "State/Province", :class => 'col-lg-3 control-label' %>
		<div class="col-lg-3">
			<%= f.grouped_collection_select :state, Country.all, :states, :description, :state_code, :description, {:include_blank => 'Select State'}, { :class => 'form-control'} %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Postal Code", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :postal, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<hr>
	</div>

	<div class="form-group">
		<%= f.label "Home Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :home_phone, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Mobile Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :mobile_phone, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Business Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :business_phone, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<hr>
	</div>


	<div class="form-group">
		<%= f.label "Home Email", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.email_field :home_email, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Business Email", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.email_field :business_email, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<hr>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-2">
			<%= button_tag(:type => "submit", :class => "btn btn-success") do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>
	</div>
<% end %>