<%= form_for @user, :html => { :class => 'form-horizontal'} do |f| %>
	<div class="form-group">
		<%= f.label "Username", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.text_field :username, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Language Preference", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.collection_select :locale, SystemLanguage.all, :language_code, :language_description, { :include_blank => "Select Language" }, { :class => 'form-control' } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Role", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.select :role, options_for_select([["Manager","manager"],["Employee","employee"],["Administrator","admin"]], :selected => f.object.role ), {:prompt => 'Select'}, { :class => 'form-control'} %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Employee", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.collection_select :person_id, Person.all, :id, :full_name, { :include_blank => "Select Employee" }, { :class => 'form-control' } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Email", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<%= f.text_field :email, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group"></div>
	<div class="form-group"></div>

	<div class="form-group">
		<%= f.label "Change Password?", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-2">
			<div class="checkbox">
				<label>
					<%= check_box_tag "change_password" %>
				</label>
			</div>
		</div>
	</div>

	<span id="user_fields" style="display:none;">
		<div class="form-group">
			<%= f.label "Password", :class => 'col-lg-2 control-label' %>
			<div class="col-lg-2">
				<%= f.password_field :password, :class => 'form-control' %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label "Password Confirmation", :class => 'col-lg-2 control-label' %>
			<div class="col-lg-2">
				<%= f.password_field :password_confirmation, :class => 'form-control' %>
			</div>
		</div>
	</span>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<%= button_tag(:type => "submit", :class => "btn btn-success") do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>
	</div>
<% end %>