<%= form_for(@user) do |f| %>
	<div class="form-group">
		<%= f.label "Username" %>
		<%= f.text_field :username, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label "Password" %>
		<%= f.password_field :password, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label "Password Confirmation" %>
		<%= f.password_field :password_confirmation, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label "Role" %>
		<%= f.text_field :role, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label "Person ID" %>
		<%= f.text_field :person_id, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label "Email Address" %>
		<%= f.text_field :email, :class => 'form-control' %>
	</div>


	<%= f.submit "Update User", :class => 'btn btn-primary btn-block' %>
<% end %>
