<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">States</h1>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-search fa-fw"></i> Search States&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#collapse1">+</button>
	</div>
	<div id="collapse1" class="panel-collapse collapse" >
		<div class="panel-body">
			<%= form_tag(states_path, :method => "get", id: "search-form", :class => "form-inline") do %>
				<div class="form-group">
					<%= text_field_tag :search, params[:search], :placeholder => "Search State Code or Name", :class => "form-control" %>
				</div>
				<%= button_tag(:type => "submit", :name => nil, :class => "btn btn-default") do %>
						<span class="fa fa-search fa-fw"></span> <%= t('button.search') %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<%= link_to new_state_path, :class => "btn btn-success" do %>
			<i class="fa fa-plus fa-fw"></i> Add New State
		<% end %>
		<div class="top15">
			<% if @states.empty? %>
				<p>There were no results found.</p>
			<% else %>
				<p><%= @count.to_i %> results found out of <%= @total_count.to_i %></p>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Country</th>
								<th>State Code</th>
								<th>Description</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @states.each do |s| %>
								<tr>
									<td><%= s.country.description %></td>
									<td><%= s.state_code %></td>
									<td><%= s.description %></td>
									<td>
										<%= link_to edit_state_path(s.id), :class => "btn btn-warning btn-xs" do %>
											<i class="fa fa-pencil fa-fw"></i> <%= t('button.edit') %>
										<% end %>	
										<%= link_to state_path(s.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" do %>
											<i class="fa fa-trash-o fa-fw"></i> <%= t('button.delete') %>
										<% end %>	
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			<% end %>
		</div>
	</div>
</div>