<%= form_for @person_termination, :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Termination Reason", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :termination_reason_id, :class => 'form-control', :disabled => true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Termination Date", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.date_field :termination_date, :class => 'form-control', :disabled => true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Note", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_area :note, :class => 'form-control', :disabled => true %>
		</div>
	</div>
<% end %>