<%= form_for [@person, @emergency_contact], :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Contact Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :name, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Relationship", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :relationship, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Home Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :home_phone, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Business Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :business_phone, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Mobile Phone", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :mobile_phone, :class => 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<%= button_tag(:type => "submit", :class => "btn btn-success") do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>
	</div>
<% end %>

