<%= form_for @pay_grade, :html => { :class => 'form-horizontal'}  do |f| %>
	<div class="form-group">
		<%= f.label "Pay Grade", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :description, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Minimum", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :minimum, :class => 'form-control', :disabled => true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Maximum", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :maximum, :class => 'form-control', :disabled => true  %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Currency", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :currency_code, :class => 'form-control', :disabled => true  %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<%= link_to edit_pay_grade_path(@pay_grade), :class => 'btn btn-warning' do %>
				<i class="fa fa-pencil fa-fw"></i> <%= t('button.edit') %>
			<% end %>
			<%= link_to pay_grades_path, :class => 'btn btn-default' do %>
				<i class="fa fa-arrow-left fa-fw"></i> <%= t('button.return_to_search') %>
			<% end %>
		</div>
	</div>
<% end %>