<%= form_for [@person, @pay_detail], :html => { :class => 'form-horizontal'}  do |f| %>
	<%= f.hidden_field :person_id, :value => params[:person_id] %>
	<div class="form-group">
		<%= f.label "Pay Grade", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :pay_grade_id, PayGrade.all, :id, :description,  {:include_blank => 'Select Pay Grade'}, { :class => 'form-control', :disabled => true } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "component Name", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :component_name, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Pay Rate", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :pay_rate, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Pay Frequency", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_field :pay_frequency, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Currency", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.collection_select :currency_code, Currency.all, :currency_code, :description,  {:include_blank => 'Select Currency'}, { :class => 'form-control', :disabled => true } %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label "Note", :class => 'col-lg-2 control-label' %>
		<div class="col-lg-3">
			<%= f.text_area :note, :class => 'form-control', :disabled => true %>
		</div>
	</div>
	<div class="form-group">
		<div class="form-footer">
			<div class="form-footer-container">
				<div class="col-lg-12">
					<%= link_to edit_person_pay_detail_path(@person, @pay_detail.id), :class => 'btn btn-warning' do %>
						<i class="fa fa-pencil fa-fw"></i> <%= t('button.edit') %>
					<% end %>
					<%= link_to person_pay_details_path(@person), :class => 'btn btn-default' do %>
						<i class="fa fa-arrow-left fa-fw"></i> <%= t('button.return_to_search') %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>