<ul class="nav nav-pills nav-stacked">
    <li>
        <%= link_to translations_path do %>
            <i class="fa fa-language fa-fw"></i> Translations
        <% end %>
    </li>
    <li>
        <%= link_to system_languages_path do %>
            <i class="fa fa-language fa-fw"></i> System Languages
        <% end %>
    </li>
    <li>
        <%= link_to countries_path do %>
            <i class="fa fa-globe fa-fw"></i> Countries
        <% end %>
    </li>
    <li>
        <%= link_to states_path do %>
            <i class="fa fa-globe fa-fw"></i> States
        <% end %>
    </li>
    <li>
        <%= link_to currencies_path do %>
            <i class="fa fa-dollar fa-fw"></i> Currencies
        <% end %>
    </li>
    <li>
        <%= link_to termination_reasons_path do %>
            <i class="fa fa-times-circle fa-fw"></i> Termination Reasons
        <% end %>
    </li>
    <li>
        <%= link_to relationships_path do %>
            <i class="fa fa-users fa-fw"></i> Relationships
        <% end %>
    </li>
</ul>