<ul class="nav nav-pills nav-stacked">
    <li>
        <%= link_to users_path do %>
            <i class="fa fa-user fa-fw"></i> Users
        <% end %>
    </li>
    <li>
        <%= link_to job_titles_path do %>
            <i class="fa fa-briefcase fa-fw"></i> Job Titles
        <% end %>
    </li>
    <li>
        <%= link_to pay_grades_path do %>
            <i class="fa fa-money fa-fw"></i> Pay Grades
        <% end %>
    </li>
    <li>
        <%= link_to departments_path do %>
            <i class="fa fa-building-o fa-fw"></i> Departments
        <% end %>
    </li> 
    <li>
        <%= link_to locations_path do %>
            <i class="fa fa-building fa-fw"></i> Locations
        <% end %>
    </li>
    <li>
        <%= link_to languages_path do %>
            <i class="fa fa-language fa-fw"></i> Languages
        <% end %>
    </li>
    <li>
        <%= link_to skills_path do %>
            <i class="fa fa-certificate fa-fw"></i> Skills
        <% end %>
    </li>
    <li>
        <%= link_to certifications_path do %>
            <i class="fa fa-certificate fa-fw"></i> Certifications
        <% end %>
    </li>
    <li>
        <%= link_to education_levels_path do %>
            <i class="fa fa-certificate fa-fw"></i> Education Levels
        <% end %>
    </li>
</ul>