<div class="row top15">
	<div class="col-lg-2 text-center">
		<%= image_tag @person.photo.url(:large), :class => "img-circle", :style => "border:10px solid #eee; transition: all 0.2s ease-in-out;"%>
	</div>
	<div class="col-lg-10">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="media-heading"><%= @person.full_name %>
					<% if @person.active? %>
					<% else %>
						<small>
							<%= link_to "(terminated)", person_termination_path(@person, @person.id) %>
						</small>
					<% end %>
				</h3>
				<h5><%= @person.job_title.job_title unless @person.job_title.nil? %></h5>
				<hr style="margin:8px auto">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
        		<h6><strong>Employee ID:</strong> <%= @person.employee_id %></h6>
        		<h6><span class="fa fa-phone fa-fw"></span> <%= @person.contact_detail.business_phone %></h6>
        		<h6><span class="fa fa-envelope fa-fw"></span> <%= @person.contact_detail.business_email %></h6>
        	</div>
        	<div class="col-lg-8">
	        	<h6><strong>Department:</strong>  <%= @person.department.name unless @person.department.nil? %></h6>
	        	<h6><strong>Location:</strong> <%= @person.location.name unless @person.location.nil? %></h6>
	        	<h6><strong>Supervisor(s):</strong> <%= @person.reporting_relationships.map { |rr| rr.manager.full_name}.join(", ") %></h6>
        	</div>
        </div>
        <div class="row">
        	<div class="col-lg-12">
        		<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#upload-modal"><span class="fa fa-upload fa-fw"></span> <%= t('button.upload_new_photo') %></button>
        	</div>
        </div>

        <div class="modal fade" id="upload-modal">
		    <div class="modal-dialog modal-lg">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times-circle"></span></button>
		                <h4 class="modal-title"><%= t('button.upload_new_photo') %></h4>
		            </div>
		            <div class="modal-body">
		                <%= form_for @person, html: { :multipart => true, :class => 'form-inline' } do |f| %>
		        			<div class="form-group">
								<%= f.file_field :photo, :class => 'form-control' %>	
							</div>
							<%= button_tag(:type => "submit", :class => "btn btn-success") do %>
								<span class="fa fa-upload fa-fw"></span> <%= t('button.upload') %>
							<% end %>
		        		<% end %>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>